<!-- NEW FUEL TICKET ENTRY START -->
<div class="wrapper">
    <!-- Fee List -->
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>View Tickets</h3>
                    </div>
                </div>
            </div>
            <!-- add fee 1-->
            <div class="add-fee">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group label-static">
                                <label for="customer" class="control-label">Customer</label>
                                <input type="text" class="form-control" id="customer">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="ticketNo" class="control-label">Ticket#</label>
                                <input type="text" class="form-control" id="ticketNo">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="tailNo" class="control-label">Tail#</label>
                                <input type="text" class="form-control" id="tailNo">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="product" class="control-label">Product</label>
                                <input type="text" class="form-control" id="product" placeholder="Product">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group label-static">
                                <label for="upliftDate" class="control-label">Uplift Date</label>
                                <input type="text" class="form-control" id="upliftDate">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a class="btn btn-raised btn-primary btn-sm" href="javascript:void(0)" [routerLink]="['../viewATicket/53']">View<div class="ripple-container"></div></a>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-sm">Credit<div class="ripple-container"></div></a>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-sm">De-fuel<div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- add fee 1-->
            <!-- add fee 2-->
            <div class="add-fee">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group label-static">
                                <label for="customer" class="control-label">Customer</label>
                                <input type="text" class="form-control" id="customer">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="ticketNo" class="control-label">Ticket#</label>
                                <input type="text" class="form-control" id="ticketNo">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="tailNo" class="control-label">Tail#</label>
                                <input type="text" class="form-control" id="tailNo">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="product" class="control-label">Product</label>
                                <input type="text" class="form-control" id="product" placeholder="Product">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group label-static">
                                <label for="upliftDate" class="control-label">Uplift Date</label>
                                <input type="text" class="form-control" id="upliftDate">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a class="btn btn-raised btn-primary btn-sm" href="javascript:void(0)" [routerLink]="['../viewATicket/53']">View<div class="ripple-container"></div></a>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-sm">Credit<div class="ripple-container"></div></a>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-sm">De-fuel<div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- add fee 2-->
            <!-- add fee 3-->
            <div class="add-fee">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group label-static">
                                <label for="customer" class="control-label">Customer</label>
                                <input type="text" class="form-control" id="customer">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="ticketNo" class="control-label">Ticket#</label>
                                <input type="text" class="form-control" id="ticketNo">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="tailNo" class="control-label">Tail#</label>
                                <input type="text" class="form-control" id="tailNo">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group label-static">
                                <label for="product" class="control-label">Product</label>
                                <input type="text" class="form-control" id="product" placeholder="Product">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group label-static">
                                <label for="upliftDate" class="control-label">Uplift Date</label>
                                <input type="text" class="form-control" id="upliftDate">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a class="btn btn-raised btn-primary btn-sm" href="javascript:void(0)" [routerLink]="['../viewATicket/53']">View<div class="ripple-container"></div></a>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-sm">Credit<div class="ripple-container"></div></a>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-sm">De-fuel<div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- add fee 3-->
        </div>
    </div>
    <!-- Fee List -->
</div>
<!-- NEW FUEL TICKET ENTRY END-->