.wrapper{
    background: #fff;
}
.radio{
    display: inline-block;
    width: 49%;
}
.radio label{
    font-size: 13px;
}

.add-fee{
    border: 1px solid #dddddd;
    margin-top:0px;
    margin-bottom: 0px;
}
.add-fee:nth-child(even){
    background-color:#f9f9f9; 
}
.add-fee:nth-child(odd){
    background-color:#ffffff; 
}
.add-fee:last-child{
    margin-bottom: 20px;
}