<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h3>View Fuel Ticket</h3>
                </div>
            </div>
        </div>
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="so#" class="control-label">SO #</label>
                    <input type="text" class="form-control" id="so#" value="12112">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="basnumber" class="control-label">BAS Number</label>
                    <input type="text" class="form-control" id="basnumber" value="121212">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="cardnumber" class="control-label">Card Number</label>
                    <input type="text" class="form-control" id="cardnumber" value="12121212212">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="customername" class="control-label">Customer Name</label>
                    <input type="text" class="form-control" id="customername" value="Zest Corporation">
                </div>
            </div>
        </div>
        <!-- 1st row -->
        <!-- 2nd row -->
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="upliftdate" class="control-label">UpLift Date</label>
                    <input type="date" class="form-control" id="upliftdate">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="product" class="control-label">Product</label>
                    <input type="text" class="form-control" id="product" value="JET FUEL">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="usg" class="control-label">UOM</label>
                    <input type="text" class="form-control" id="usg" placeholder="USG" value="USG">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="quality" class="control-label">Quantity</label>
                    <input type="text" class="form-control" id="quantity" value="100">
                </div>
            </div>
        </div>
        <!-- 2nd row -->
        <!-- 3rd row -->
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="tailnumber" class="control-label">Tail Number</label>
                    <input type="text" class="form-control" id="tailnumber" value="ZA56XZ">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="flight#" class="control-label">Flight #</label>
                    <input type="text" class="form-control" id="flight#">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="authorization#" class="control-label">Authorization #</label>
                    <input type="text" class="form-control" id="authorization#" value="AA121">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group label-static">
                    <label for="ticket#" class="control-label">Ticket #</label>
                    <input type="text" class="form-control" id="ticket#" placeholder="1009" value="1003">
                </div>
            </div>
        </div>
        <!-- 3rd row -->
        <!-- 4th row -->
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="domestic" value="domestic" checked=""><span class="circle"></span><span class="check"></span> Domestic
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="international" value="international"><span class="circle"></span><span class="check"></span> International
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="form-group label-static">
                    <label for="notes" class="control-label">Notes</label>
                    <input type="text" class="form-control" id="notes">
                </div>
            </div>
        </div>
        <!-- 4th row -->
    </div>

    <!--FEE START  -->
    <div class="container-fluid">
        <!-- heading -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h3>Fees</h3>
                </div>
            </div>
        </div>
        <!-- heading -->
        
        <!-- Fee List -->
        <div class="row">
            <div class="col-sm-8">
                <div class="add-fee">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group label-static">
                                    <label for="feeitem" class="control-label">Fee Item</label>
                                    <input type="text" class="form-control" id="feeitem">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group label-static">
                                    <label for="feeusg" class="control-label">UOM</label>
                                    <input type="text" class="form-control" id="feeusg"  placeholder="USG">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group label-static">
                                    <label for="qty" class="control-label">Qty</label>
                                    <input type="text" class="form-control" id="qty">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group label-static">
                                    <label for="currency" class="control-label">Currency</label>
                                    <input type="text" class="form-control" id="currency"  placeholder="USD">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group label-static">
                                    <label for="unitprice" class="control-label">Unit Price</label>
                                    <input type="text" class="form-control" id="unitprice">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fee List -->
        <!-- button Add fee -->
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-block">back<div class="ripple-container"></div></a>
                </div>
            </div>
        </div>
        <!-- button Add fee -->
    </div>
</div>